body {
    background-color: #eeeeee;

}

h1 {
    color: chartreuse;
}

p {
    color: darkgreen
}

img {
    max-width: 100%;
}

.container {
    width: 700px;
    background-color: snow;
    margin: 30px auto;
    padding: 20px;
    border: 4px solid #666666;
    border-radius: 10px;
}

.content {
    width: 500px;
    float: left;
}

.sidebar {
    width: 200px;
    float: right;
}

.clear {
    clear: both;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar {
    background-color: #333;
    overflow: hidden;
}

.sidebar a {
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a :hover {
    background-color: #218849;
    color: black;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}